{
  "keyboard-layout": "us",
  "x11-keymap": {
    "layout": "us,us",
    "variant": "intl,mac",
    "options": "grp:alt_shift_toggle"
  },
  "mirror-region": { "Germany": true },

  "sys-language": "de_DE",
  "sys-encoding": "utf-8",
  "locale": ["de_DE.UTF-8", "en_US.UTF-8"],
  "timezone": "Europe/Berlin",

  "swap": true,
  "swap-size": "4G",
  "bootloader": "Systemd-boot",
  "filesystem": "btrfs",
  "btrfs": { "subvolumes": ["@", "@home", "@log", "@pkg"] },
  "profile": { "type": "minimal" },
  "packages": [
    "git", "stow", "btrfs-progs",
    "networkmanager", "iwd", "wireless-regdb", "rfkill", "iw"
  ]
}
